/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f1ecec;
    color: #ffcfcf;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: green;
    background-color: aqua;
}

nav ul {
    list-style: none;
    text-align: center;
   
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 40px 0;
}

.content-section {
    background-color: #f4f4f4;
    padding: 40px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

.faculty-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.faculty-card {
    width: 250px;
    text-align: center;
    margin: 10px;
}

.faculty-card img {
    width: 100%;
    border-radius: 50%;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .faculty-list {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 95%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.responsive-img{
    height: 100%;
    width: 100%;
    border-radius: 13px;
}
.principal{
    display: flex;
    height: 400px;
    width: auto;
    background-color: #315c4c;
    border-radius: 15px;
    margin: auto;
    padding-left: 5px;
    color: chartreuse;
}
.maaiic-principal{
    border-radius: 20px;
}